body {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: linear-gradient(90deg, #09203f, #537895);
}

header {
  font-family: "rock salt";
  font-size: 60px;
  height: 100px;
  color: white;
}

aside {
  font-family: "rock salt";
}

.scoreBoard {
  left: -10px;
  font-family: "rock salt";
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-radius: 30px;
  margin: 20px 20px 20px 30px;
  width: 300px;
  height: 90px;
}

#player1 {
  height: 84px;
  width: 90px;
  border-radius: 0 25px 25px 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#player2 {
  height: 84px;
  width: 90px;
  border-radius: 0 25px 25px 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scoreContainer {
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: middle;
  word-spacing: 5px;
}
.scoreBoard {
  display: flex;
  vertical-align: center;
}

.board {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.mainContainer {
  border-radius: 40px;
  background: url("https://d39l2hkdp2esp1.cloudfront.net/img/photo/138816/138816_00_2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: solid;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  transition: 0.5s;
}

.mainContainer div {
  font-family: "rock salt";
  background-color: #855e42b2;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  border: solid;
  width: 100px;
  margin: 10px;
  transition: 0.5s;
}

.cells {
  border-radius: 50%;
}

.cells:hover {
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 40px;
  cursor: pointer;
}

.shop {
  border-radius: 50px;
  height: 200px;
  font-size: 40px;
}

.shopLeft {
  grid-row: 1 / span 2;
  border: solid;
}
.shopRight {
  grid-column: 8;
  grid-row: 1 / span 2;
  border: solid;
}
